# Игнорирование папки с зависимостями
venv/

# Игнорирование скомпилированных файлов Python
*.pyc
*.pyo
__pycache__/

# Игнорирование сгенерированных файлов проекта
*.egg-info/
dist/
build/

# Игнорирование файлов настроек
*.config

# Игнорирование лог-файлов
*.log

# Игнорирование временных файлов
*.tmp

# Игнорирование файлов и папок, создаваемых IDE
.idea/
.vscode/

# Игнорирование файлов с настройками окружения
.env
.env.*